[user]
	name = Jason Hollis
	email = jhollis@jdubb.net
	signingkey = "F9AF7F330FE23D4B"
[includeIf "gitdir:work/"]
	path = ~/.gitconfig-work
[color]
	ui = true
[push]
	default = simple
	gpgsign = if-asked
[core]
	editor = vim
	excludesfile = ~/.gitignore
	whitespace = trailing-space,space-before-tab
[alias]
	lga = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lgda = log --show-signature --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %an%C(reset)%n''%C(white)%B%C(reset)' --all
	lgd = log --show-signature --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %an%C(reset)%n''%C(white)%B%C(reset)'
	# lg = !"git lg1"
	fs = diff --stat HEAD
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	mbd = !sh -c 'git branch -d mr-$1-$2' -
	parent = "!git show-branch -a | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//'"
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[merge "ours"]
	driver = true
[difftool]
	prompt = false
[alias]
	d = difftool
[fetch]
	prune = true
[apply]
	whitespace = fix
[pull]
	ff = only
[credential]
	helper = cache
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
