[user]
	name = Jason Hollis
	email = jhollis@jdubb.net
[color]
	ui = true
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore
	whitespace = trailing-space,space-before-tab
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %an%C(reset)%n''%C(white)%B%C(reset)' --all
	lg = !"git lg1"
	fs = diff --stat HEAD
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	mbd = !sh -c 'git branch -d mr-upstream-$1' -
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[merge "ours"]
	driver = true
[difftool]
	prompt = false
[alias]
	d = difftool
[fetch]
	prune = true
[apply]
	whitespace = fix
[pull]
	ff = only
